//buttons
a,
button {
  @include default_btn;
  white-space: nowrap;
  
  &.btnlogo{
    
    font-size: $font_sizebtn;
    padding: 18px 40px;
    transition: color $transition_duration;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
  // &:hover{
  //   -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15); 
  //     box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15);
  // }
}
