footer{
    font-size: $font_sizefooterlink;
}

.footer-top {
    background-image: url('/img/footer-bg.jpg');
    
    .info {
        padding-top: 30px;

        ul {
            flex-direction: column;
            lh{
                font-size: 18;
            }
            li{
                font-size: $font_sizefooterlink;
            }
        }
        a {
            color: #757474dc;
        }
    }

    .logo-footer img {
        width: 400px;
    }
}

.footer-bottom {
    font-size: 16;
    padding: 20px;
    background-color: rgb(59, 59, 59);
    
    .button-footer {

        button {
            font-size: 16;
            background-color: transparent;
            padding: 10px;
            border: 2px solid $primary-color;
            cursor: pointer;
            &:active{
                border: 2px solid $primary-color;
            }
        }
    }

    .social {
        span {
            font-weight: bold;
            color: $primary-color;
        }
        .img-box{
            max-width: 50px;
            cursor: pointer;
        }
        img {
            padding: 7px;
            border-radius: 50%;
        }
    }
}