
body{
    @media screen and (min-width: 1500px) {
        margin: auto;
        max-width: 1500px;
        overflow-x: hidden;
    }
}

.container{
    padding: 0 200px;
    @media screen and (max-width: 650px){
        padding: 0 20px;
    }
    @media screen and (min-width: 651px) and (max-width: 960px){
        padding: 0 50px;
    }
    @media screen and (min-width: 961px) and (max-width: 1200px){
        padding: 0 100px;
    }
    @media screen and (min-width: 1500px) {
        padding: auto;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 5* $i;
        width: calc((100%/12) * #{$i});
        max-width: calc((100%/12) * #{$i});
    }
}

@media screen and (min-width: 961px) and (max-width: 1200px){
    @for $i from 1 through 12 {
        .m-col-#{$i} {
            width: 5* $i;
            width: calc((100%/12) * #{$i});
            max-width: calc((100%/12) * #{$i});
        }
    }
}
@media screen and (min-width: 651px) and (max-width: 960px){
    @for $i from 1 through 12 {
        .s-col-#{$i} {
            width: 5* $i;
            width: calc((100%/12) * #{$i});
            max-width: calc((100%/12) * #{$i});
        }
    }
}
@media screen and (max-width: 650px){
    @for $i from 1 through 12 {
        .xs-col-#{$i} {
            width: 1* $i;
            width: calc((100%/12) * #{$i});
            max-width: calc((100%/12) * #{$i});
        }
    }
}