header{
    font-family: 'Oswald', sans-serif;
}


.header-top {
    background-color: dodgerblue;
    padding: 4px;

    .power{
        justify-content: right;
        font-size: 10px;
        color: #fff;
    }
}

.main-header {
    position: relative;
    padding: 20px 0;
    img {
        width: 70px;
        margin-right: 100px;
    }
    ul li a {
        font-weight: bold;
        color: #333;
    }
    .search {
         margin-left: 30px;
    }
    .search:before {
        content: "";
        position: absolute;
        width: 110px;
        height: 3px;
        background-color: dodgerblue;
        right: 301px;
        bottom: 40px;
    }
}