.first-section {
    height: 300px;
    background-image: url('/img/jumbotron.jpg');
    background-size: cover;
    background-position: top;

    img {
        padding-left: 150px;
        position: absolute;
        bottom: 218px;
    }
}
.second-section {
    background-color: $bgComicsList;
    .comics-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    a{
        color: white;
    }
    .img-box{
        height: 300px;
        weight: 200px;
    }
    .comic-box{
        margin: 10px;
    }
}
.third-section {
    padding: 20px;
    background-color: $primary-color;

    ul li {
        color: #fff;
        font-size: 12px;

        img {
            width: 50px;
        }
    }
}
.fourth-section {
    background-color: #f3f0f0;
}