* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.mr {
    margin-right: 10px;
}
.mb {
    margin-bottom: 10px;
}
.align-items {
    align-items: center;
}
.justify {
    justify-content: center;
}
.jspace {
    justify-content: space-between;
}
.dodgerblue {
    color: dodgerblue;
}
.green {
    background-color: green;
    border: none;
}
.mr2 {
    margin-right: 30px;
}
.ml {
    margin-left: 50px;
}
.bw {
    font-weight: bold;
    color: #fff;
}