//font
$font_primary:"Oswald", sans-serif;
$font_secondary:'Open Sans', sans-serif;

$font_size: 16;
//$font_sizemap: ("regular": 12, "uthero": 16, "h1": 48, "h2": 38, "h3": 16);
// map.get($font_sizemap, "regular");
$font_sizeuthero: 16;
$font_sizeutmain: 12;
$font_sizebtn: 12;
$font_sizefooterlink: 13;

$font_sizeh1: 48;
$font_sizeh2: 38;
$font_sizeh3: 16;
$font_sizeh4: 22;
$font_sizeh5: 30;
$font_sizeh6: 14;

$line_height: 1.1;


$transition_duration: 0.25s;


